body{
    background-color: #eeeeee;
}

#score_canvas{
    border: 1px solid #343434;
    border-radius: 10px;
    background-color: white;
}

#central_board{
    text-align: center;
}

#note {
    font-size: 90px;
    /* border: 1px solid #4668d8; */
    position: absolute;
}