@import 'common';

@media only screen and (max-width: 720px) {
  #score_canvas{
    width: 100%;
    height: auto;
  } 
}

#central_board{
    text-align: center;
}

#note {
    font-size: 90px;
    /* border: 1px solid #4668d8; */
    position: absolute;
}

body{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: $COLOR1;
  color: $COLOR3;
  background: linear-gradient(60deg, #e4e7e8, #fcfaf8);
}

div.dataBlock{
  padding: 10px;
  display: inline;
  white-space: nowrap;
}

#board{
  background: linear-gradient(-30deg, $COLOR2, $COLOR1);
}

#dashboard{
  padding: 15px;
  margin: auto;
}

h1{
  color: lighten($COLOR3, 15%);
  padding: 5px;
}

h2{
  color: $COLOR4;
  padding: 5px;
}

%badge{
  padding: 3px 10px;
  border: 1px solid $COLOR1;
  margin: 12px 3px;
  display: inline-block;
  
  // float: left;
  border-radius: 5px;
  box-shadow:inset 0 1px 0px $COLOR1,inset 0 -1px 0px $COLOR1,inset 1px 0px 0px $COLOR1,inset -1px 0px 0px $COLOR1,0 2px 3px $COLOR3; 
}

.topic{
  @extend %badge;
  background-color: $COLOR4;
  color: $COLOR1;
}

$HELPME_ROTATION: -10deg;

button#helpme{
  @extend %badge;
  transform: rotate($HELPME_ROTATION);
  background-color: $COLOR4;
  color: $COLOR1;
  padding: 8px;
  transition: 0.25s linear all;
}

button#helpme:disabled{
  transform: rotate($HELPME_ROTATION) scale(0.95, 0.95);
  background-color: $COLOR3;
  color: $COLOR2;
}

$HELPME_GROW_FACTOR: 1.05;

button#helpme:hover:enabled{
  transform: rotate($HELPME_ROTATION) scale($HELPME_GROW_FACTOR, $HELPME_GROW_FACTOR);
  background-color: lighten($COLOR4, 5%);
}

button#helpme:active{
  background-color: darken($COLOR4, 10%);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $COLOR3;
  color: $COLOR1;
  text-align: center;
}

div#comingSoon{
  text-align: left;
  margin: 20px;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
}

div#comingSoon ul{
  padding: 10px 40px;
}

#scale-info{
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scale-glymph{
  padding: 10px;
}